spring:
  application:
    name: Authorization-Resource
  main:
    banner-mode: OFF

  devtools:
    restart:
      enabled: true

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password:


